services:
  mysql:
    image: mysql:latest
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: secret
    ports:
      - "3333:3306"
    restart: unless-stopped

volumes:
  hermes:

# //  3333 = porta do docker // 3306 = porta do mysql